.header-home {
  border-bottom: 1px solid rgb(107, 114, 128);
  z-index: 3;
}
.nav {
  background: linear-gradient(45deg, rgb(0, 6, 14), rgb(0, 26, 63));
  z-index: 3;
}
.nav-list-item {
  color: #9ca3af;
  transition: all 0.3s;
  svg {
    fill: #9ca3af;
  }
  &:hover {
    background-color: rgb(31, 41, 55);
    color: white;
    svg {
      fill: white;
    }
  }
}
.nav-list-item-active {
  li {
    background-color: rgb(31, 41, 55);
    color: white;
  }
  svg {
    fill: white;
  }
}
.avt-nav-home {
  clip-path: circle();
}
.avt-box {
  border-left: 1px solid rgb(17 24 39 / 0.1);
}
#home {
  grid-template-columns: 2fr 1fr;
}
.post,
.group-content {
  &::-webkit-scrollbar {
    display: none;
  }
}
.grid-home {
  grid-template-columns: 288px 2fr 1fr;
}
.menubar-home {
  display: none;
}
.sidebar-home {
  background: linear-gradient(45deg, rgb(0, 6, 14), rgb(0, 26, 63));
}
