.clb {
  padding-top: 16px;
  .avt-clb {
    clip-path: circle();
  }
}
.survey {
  position: relative;
  .survey-box {
    right: 30px;
    position: fixed;
    overflow-y: scroll;
  }
}
.home-post {
  padding-top: 16px;
  .post-box {
    background-color: white;
    margin-bottom: 16px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 500px;
    flex-direction: column;
    padding-bottom: 12px;
    .image {
      .imagecontainer {
        background-color: black;
        position: relative;
        display: flex;
        height: 600px;
        justify-content: center;
        flex-direction: column;
        img {
          max-height: 600px;
          object-fit: cover;
        }
        div {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 30px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          transition: all 0.5s;
          button {
            height: 30px;
            width: 30px;
            padding-top: 2px;
            border-radius: 50%;
            background-color: rgba(186, 186, 186, 0.534);
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.479);
            width: 50px;
            button {
              background-color: transparent;
              color: white;
            }
          }
        }
      }
    }
    .imagecontainer-2 {
      column-gap: 3px;
      img {
        object-fit: cover;
        max-height: 300px;
        width: 100%;
      }
    }
    .imagecontainer-3 {
      column-gap: 3px;
      row-gap: 3px;
      img {
        object-fit: cover;
        width: 100%;
        max-height: 300px;
        &:nth-child(1) {
          grid-column: span 2;
        }
      }
    }
    .imagecontainer-4 {
      column-gap: 3px;
      row-gap: 3px;
      img {
        object-fit: cover;
        width: 100%;
        max-height: 300px;
      }
    }
    .imagecontainer-5 {
      column-gap: 3px;
      row-gap: 3px;
      img {
        object-fit: cover;
        width: 100%;
        max-height: 300px;
        &:nth-child(1),
        &:nth-child(2) {
          grid-column: span 3;
        }
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          grid-column: span 2;
          max-height: 200px;
        }
      }
    }
    .imagecontainer-6 {
      column-gap: 3px;
      row-gap: 3px;
      img {
        object-fit: cover;
        width: 100%;
        max-height: 300px;
        &:nth-child(1),
        &:nth-child(2) {
          grid-column: span 3;
        }
        &:nth-child(3),
        &:nth-child(4) {
          grid-column: span 2;
          max-height: 200px;
        }
      }
      div {
        grid-column: span 2;
        position: relative;
        max-height: 200px;
        justify-content: center;
        align-items: center;
        .plus {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          font-size: 20px;
        }
      }
    }
    .title-box {
      padding: 12px 16px 0 16px;
      display: flex;
      margin-bottom: 12px;
      align-items: center;
      img {
        clip-path: circle();
        width: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        margin-right: 10px;
      }
      div {
        font-size: 13px;
        color: rgb(101, 103, 107);
        span {
          font-size: 15px;
          color: black;
          font-weight: 600;
        }
      }
    }
    .content-box {
      padding: 4px 16px 16px 16px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    .reaction-details {
      color: rgb(101, 103, 107);
      margin: 0 16px;
      padding: 10px 0;
      justify-content: space-between;
      border-bottom: 1px solid rgb(101, 103, 107);
      .box {
        P {
          font-size: 14px;
          cursor: pointer;
          position: relative;
          transition: all 0.5s;
          ul {
            display: none;
            li {
              text-wrap: nowrap;
            }
          }
          &:hover {
            text-decoration: underline;
            ul {
              display: inline-block;
              position: absolute;
              background-color: rgba(26, 26, 26, 0.836);
              bottom: -50px;
              color: white;
              padding: 5px 10px;
              border-radius: 5px;
              left: 0;
            }
          }
        }
      }
    }
    .reaction {
      color: rgb(101, 103, 107);
      padding: 10px 16px 0 16px;
      justify-content: space-around;
      font-size: 15px;
      .box {
        align-items: center;
        display: flex;
        cursor: pointer;
        span {
          margin-right: 5px;
        }
      }
    }
  }
  .pop-up-post {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
