@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@500&display=swap");
.nav-login {
  color: rgb(252, 210, 0);
  span {
    color: rgb(1, 124, 182);
  }
}
.nav-login-text {
  font-family: "Space Mono", monospace;
}
