body {
  font-family: "Poppins", sans-serif;
  margin: 70px 0 0 0;
}
a {
  text-decoration: none;
  color: black;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  z-index: 998;
  background-color: transparent;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgb(188, 188, 188);
  .logo {
    font-size: 24px;
    max-width: 150px;
    font-weight: 600;
  }
  .middle-section {
    display: flex;
    justify-content: space-between;
    a {
      margin: 0 12px;
      font-size: 14px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 0%;
        left: 0;
        right: 0;
        background-color: black;
        bottom: -1px;
        transition: all 0.5s;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  .right-section {
    max-width: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    .material-symbols-outlined {
      display: none;
    }
    button {
      border: 1px solid black;
      border-radius: 20px;
      font-size: 14px;
      padding: 9px 14px;
      transition: all 0.5s;
      &:hover {
        background-color: black;
        a {
          color: white;
        }
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 380px;
  z-index: 999;
  backdrop-filter: blur(5px);
  background-color: transparent;
  display: none;
  flex-direction: column;
  padding: 0 70px;
  border-left: 1px solid rgb(188, 188, 188);
  a {
    margin: 10px 12px;
    font-size: 16px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 0%;
      left: 0;
      right: 0;
      background-color: black;
      bottom: -1px;
      transition: all 0.5s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
@media (max-width: 1024px) {
}
