body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
  margin-top: 60px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.layout {
  grid-template-columns: 288px 1fr;
}

.navbar {
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgb(188, 188, 188);
  z-index: 1 !important;
}

.navbar .logo {
  font-family: "Raleway", sans-serif;
}

.navbar .logo a {
  color: rgb(1, 124, 182);
}

.navbar .logo span {
  color: rgb(252, 210, 0);
}

.navbar .middle-section a {
  margin: 0 10px;
  font-weight: 400;
  font-size: 15px;
  position: relative;
}

.navbar .middle-section a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  left: 0;
  right: 0;
  background-color: black;
  bottom: -1px;
  transition: all 0.5s;
}

.navbar .middle-section a:hover::after {
  width: 100%;
}

.sidebar {
  display: none;
  backdrop-filter: blur(5px);
  background-color: #1a1a1a;
}

.sidebar a {
  margin: 10px 12px;
  font-size: 25px;
  position: relative;
  color: #ffffff;
}

.sidebar a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  left: 0;
  right: 0;
  background-color: black;
  bottom: -1px;
  transition: all 0.5s;
}

.sidebar a:hover::after {
  width: 100%;
}

.header-home {
  border-bottom: 1px solid rgb(107, 114, 128);
  z-index: 3;
}

.nav {
  background: linear-gradient(45deg, rgb(0, 6, 14), rgb(0, 26, 63));
  z-index: 3;
}

.nav-list-item {
  color: #9ca3af;
  transition: all 0.3s;
}

.nav-list-item svg {
  fill: #9ca3af;
}

.nav-list-item:hover {
  background-color: rgb(31, 41, 55);
  color: white;
}

.nav-list-item:hover svg {
  fill: white;
}

.nav-list-item-active li {
  background-color: rgb(31, 41, 55);
  color: white;
}

.nav-list-item-active svg {
  fill: white;
}

.avt-nav-home {
  clip-path: circle();
}

.avt-box {
  border-left: 1px solid rgba(17, 24, 39, 0.1);
}

#home {
  grid-template-columns: 2fr 1fr;
}

.post::-webkit-scrollbar,
.group-content::-webkit-scrollbar {
  display: none;
}

.grid-home {
  grid-template-columns: 288px 2fr 1fr;
}

.menubar-home {
  display: none;
}

.sidebar-home {
  background: linear-gradient(45deg, rgb(0, 6, 14), rgb(0, 26, 63));
}

.clb-box {
  border-radius: 16px;
  display: flex;
  overflow-y: scroll;
  background-color: #f0f2f5;
  flex-direction: column;
}

.clb-box::-webkit-scrollbar {
  display: none;
}

.clb-box .avt-clb {
  clip-path: circle();
  height: 50px;
  width: 50px;
}

.create-post .avatar-box .avatar-cp img {
  height: 50px;
  clip-path: circle();
  object-fit: contain;
}

.post-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.imagecontainer-2 img {
  object-fit: cover;
  max-height: 300px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.imagecontainer-3 img {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  max-height: 300px;
  height: 100%;
}

.imagecontainer-3 img:nth-child(1) {
  grid-column: span 2;
}

.imagecontainer-4 img {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-height: 300px;
}

.imagecontainer-5 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  max-height: 300px;
}

.imagecontainer-5 img:nth-child(1),
.imagecontainer-5 img:nth-child(2) {
  grid-column: span 3;
}

.imagecontainer-5 img:nth-child(3),
.imagecontainer-5 img:nth-child(4),
.imagecontainer-5 img:nth-child(5) {
  grid-column: span 2;
  max-height: 200px;
}

.imagecontainer-6 img {
  object-fit: cover;
  height: 100%;
  cursor: pointer;
  width: 100%;
  max-height: 300px;
}

.imagecontainer-6 img:nth-child(1),
.imagecontainer-6 img:nth-child(2) {
  grid-column: span 3;
}

.imagecontainer-6 img:nth-child(3),
.imagecontainer-6 img:nth-child(4) {
  grid-column: span 2;
  max-height: 200px;
}

.imagecontainer-6 div .plus {
  background-color: rgba(0, 0, 0, 0.7);
}

.title-box {
  padding: 12px 16px 0 16px;
}

.title-box img {
  clip-path: circle();
}

.title-box div {
  font-weight: 600;
}

.title-box div span {
  color: rgb(101, 103, 107);
}

.content-box {
  padding: 4px 16px 16px 16px;
  line-height: 20px;
}

.reaction-details {
  color: rgb(101, 103, 107);
  border-bottom: 1px solid rgb(101, 103, 107);
}

.reaction-details .box P {
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

.reaction {
  color: rgb(101, 103, 107);
  padding: 10px 16px 0 16px;
}

.image .image-container img {
  object-fit: contain;
  max-height: 100vh;
  cursor: default;
}

.image .image-container .btn-img button {
  clip-path: circle();
}

.comment-container .comment::-webkit-scrollbar {
  display: none;
}

.comment-container .comment .comment-details {
  padding-left: 20px;
}

.comment-container .comment .comment-details .avatar {
  height: 32px;
  width: 32px;
  object-fit: cover;
  clip-path: circle();
}

.comment-container .comment .comment-details ul {
  color: rgb(101, 103, 107);
  margin: 5px 0 0 10px;
}

.comment-container .comment .comment-details ul li {
  margin-right: 15px;
}

.comment-container .reaction {
  color: rgb(101, 103, 107);
  border-bottom: 1px solid rgb(186, 186, 186);
}

.comment-container .reaction .box {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.comment-container .reaction .box span {
  margin-right: 5px;
}

.comment-container .title-container .title div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.comment-container .title-container .title div span {
  color: rgb(101, 103, 107);
  font-size: 12px;
}

.comment-container .title-container .title img {
  height: 40px;
  width: 40px;
  clip-path: circle();
  object-fit: cover;
}

.container-cmt-2 {
  display: none;
}

@media (max-width: 1280px) {
  .grid-home {
    grid-template-columns: 248px 1fr 2fr;
  }

  .respon {
    padding: 0 20px;
  }
}

@media (max-width: 1200px) {
  .navbar {
    padding: 16px;
  }

  .navbar .middle-section a {
    margin: 0 10px;
  }

  .home {
    grid-row-start: 1;
    grid-column: span 3;
    margin-left: -10vw;
    grid-row-end: 3;
  }
}

@media (max-width: 1088px) {
  .layout {
    display: block;
  }

  .respon {
    margin-left: 0;
  }

  .header-home {
    padding-left: 32px;
  }

  .menubar-home {
    display: block;
    border-right: 1px solid rgba(17, 24, 39, 0.1);
  }

  .nav {
    display: none;
  }

  .header-home {
    grid-column-start: 1;
  }

  #home {
    grid-column-start: 1;
    grid-template-columns: 2fr 1fr;
  }

  .create-post {
    max-width: 550px;
  }

  .post-box {
    max-width: 550px;
  }
}

@media (max-width: 1024px) {
  .text text.text-body {
    font-size: 70px;
  }
}

@media (max-width: 950px) {
  .pop-up-post .comment-container {
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  .textarea-2 {
    display: flex;
  }

  .textarea-1 {
    display: none;
  }

  .image-container {
    height: 70vh;
  }

  .container-cmt-1 {
    display: none;
  }

  .container-cmt-2 {
    display: block;
  }

  .comment-container {
    height: auto;
    grid-column-start: 1;
  }

  .respon {
    padding: 0;
  }

  .avatar-cp {
    height: 40px;
    width: 40px;
    clip-path: circle();
  }

  .input-cp {
    max-height: 40px;
  }

  .home {
    margin: 0;
    grid-column: span 4;
  }

  .pop-up-post {
    grid-template-columns: 1fr;
    overflow-y: scroll;
  }

  .pop-up-post .image .image-container .btn-img-right {
    top: 50px;
    padding-bottom: 50px;
  }

  .pop-up-post .image .image-container .btn-img button span {
    font-size: 30px;
  }

  .btn-close {
    display: block;
    color: white;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 850px) {
  #home {
    display: block;
  }

  .clb-box {
    display: none;
  }

  .menu-nav {
    display: block;
  }

  .middle-section {
    display: none;
  }
}

@media (max-width: 825px) {
  .navbar .right-section {
    width: auto;
  }
}

@media (max-width: 768px) {
  .text text.text-body {
    font-size: 60px;
  }

  .pop-up-post .comment-container .comment {
    overflow-y: scroll;
  }

  .box-cp {
    min-width: auto;
  }

  .create-post {
    padding: 16px;
  }

  label .mt-2 {
    margin-top: 0.25rem;
  }

  .mt-2 {
    margin-top: 0.25rem;
  }

  .navbar {
    padding: 0 8px;
  }

  .navbar .middle-section {
    margin-right: 5px;
  }

  .navbar .middle-section a {
    margin: 0 6px;
    font-size: 14px;
  }

  .navbar .right-section {
    width: auto;
  }

  .navbar .right-section button a {
    font-size: 12px;
  }

  .navbar .right-section button:active {
    opacity: 1;
  }
}

@media (max-width: 620px) {
  .header-home input {
    display: none;
  }

  .respon {
    padding: 0;
  }

  .navlink {
    display: none;
  }

  .navbar .middle-section ul li {
    display: none;
  }
}

@media (max-width: 540px) {
  .avt-box {
    position: relative;
  }

  .avt-box .dropdown {
    position: absolute;
    right: 10px;
    bottom: -1px;
    background-color: rgb(70, 70, 70);
    padding: 1px;
    border-radius: 20px;
    border: 1px solid white;
    width: 15px;
    height: 15px;
  }

  .avt-menu {
    bottom: -45px;
    font-size: 14px;
  }

  .home {
    padding: 0;
  }

  .home .home-post .create-post,
  .home .home-post .post-box {
    width: 100vw;
    border-radius: 0;
  }
}

@media (max-width: 425px) {

  .avt-box p,
  .avt-box span {
    display: none;
  }

  .text text.text-body {
    font-size: 45px;
  }

  .header-home {
    padding: 0 10px;
  }

  .pop-up-post .image .image-container .btn-img button span {
    font-size: 25px;
  }

  .navbar .logo {
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  .text text.text-body {
    font-size: 40px;
  }

  .logo {
    font-size: 16px;
  }

  .grid-home {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .header-home input {
    display: none;
  }

  .avt-box p,
  .avt-box span {
    display: none;
  }

  label .mt-2 {
    margin-top: 0;
  }

  .add-img {
    height: 35px;
    width: 35px;
  }

  .btn-submit {
    font-size: 14px;
    margin-top: 0;
  }

  .pop-up-post .image .image-container .btn-img button span {
    font-size: 25px;
  }

  .home-post .create-post .avatar-box .avatar-cp img {
    height: 45px;
  }

  .create-post {
    display: grid;
    grid-template-columns: 1fr;
    place-items: end;
  }

  .btn-cp {
    width: 200px;
  }

  .sidebar ul li {
    margin-bottom: 15px;
  }
}

.home-post .post-box .reaction .box {
  font-size: 14px;
}

.home-post .post-box .reaction .box span {
  margin-right: 2px;
}

.blurbg,
.blurbg2 {
  transition: all 500ms ease-in-out;
  background-color: transparent;
}

.active {
  transform: translateX(0);
}

.activeblur,
.activeblur2 {
  background-color: rgba(17, 24, 39, 0.8);
  transition: all 500ms ease-in-out;
  z-index: 10;
}