<<<<<<< HEAD
body {
  font-family: "Poppins", sans-serif;
  margin: 70px 0 0 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  z-index: 998;
  background-color: transparent;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgb(188, 188, 188);
}
.navbar .material-symbols-outlined {
  cursor: pointer;
  margin-left: 5px;
}
.navbar .logo {
  font-size: 24px;
  max-width: 150px;
  font-weight: 900;
  font-style: italic;
}
.navbar .logo a {
  color: rgb(1, 124, 182);
}
.navbar .logo span {
  color: rgb(252, 210, 0);
}
.navbar .middle-section {
  display: flex;
  justify-content: space-between;
}
.navbar .middle-section ul {
  display: flex;
}
.navbar .middle-section a {
  margin: 0 10px;
  font-weight: 400;
  font-size: 15px;
  position: relative;
}
.navbar .middle-section a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  left: 0;
  right: 0;
  background-color: black;
  bottom: -1px;
  transition: all 0.5s;
}
.navbar .middle-section a:hover::after {
  width: 100%;
}
.navbar .right-section {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbar .right-section img {
  height: 24px;
  width: 24px;
  object-fit: cover;
}
.navbar .right-section p {
  font-size: 15px;
  margin-right: 5px;
}
.navbar .right-section .material-symbols-outlined {
  display: none;
}
.navbar .right-section button {
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  font-size: 14px;
  padding: 5px 10px;
  transition: all 0.7s;
  position: relative;
  margin-right: 5px;
}
.navbar .right-section button:hover {
  background-color: black;
}
.navbar .right-section button:hover a {
  color: white;
}
.navbar .right-section button:active {
  opacity: 0.5;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 380px;
  z-index: 999;
  backdrop-filter: blur(5px);
  background-color: transparent;
  display: flex;
  padding-top: 60px;
  transform: translateX(800px);
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid rgb(188, 188, 188);
  transition: transform 1000ms;
}
.sidebar .material-symbols-outlined {
  cursor: pointer;
}
.sidebar a {
  margin: 10px 12px;
  font-size: 16px;
  position: relative;
}
.sidebar a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  left: 0;
  right: 0;
  background-color: black;
  bottom: -1px;
  transition: all 0.5s;
}
.sidebar a:hover::after {
  width: 100%;
}
.sidebar .material-symbols-outlined {
  position: absolute;
  top: 18px;
  right: 35px;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 0 40px;
  }
  .navbar .middle-section a {
    margin: 0 10px;
  }
}
@media (max-width: 825px) {
  .navbar .right-section {
    width: auto;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 0 35px;
  }
  .navbar .middle-section a {
    margin: 0 6px;
    font-size: 13px;
  }
  .navbar .right-section {
    width: auto;
  }
  .navbar .right-section p {
    font-size: 13px;
  }
  .navbar .right-section button {
    font-size: 12px;
  }
  .navbar .right-section button:active {
    opacity: 1;
  }
}
@media (max-width: 610px) {
  .navbar .middle-section ul li {
    display: none;
  }
  .navbar .right-section .material-symbols-outlined {
    display: block;
  }
  .sidebar {
    width: 100%;
  }
  .sidebar p a {
    display: none;
  }
  .sidebar ul li {
    margin-top: 30px;
  }
}
@media (max-width: 425px) {
  .navbar .logo {
    font-size: 16px;
  }
  .navbar .right-section p {
    font-size: 12px;
  }
  .navbar .right-section img {
    height: 22px;
    width: 22px;
  }
  .navbar .right-section button {
    font-size: 10px;
  }
  .navbar .right-section .material-symbols-outlined {
    font-size: 22px;
  }
  .sidebar {
    transform: translateX(500px);
  }
}
@media (max-width: 375px) {
  .navbar {
    padding: 0 20px;
  }
  .sidebar ul li {
    margin-bottom: 15px;
  }
  .sidebar ul li a {
    font-size: 14px;
  }
  .sidebar .material-symbols-outlined {
    right: 20px;
  }
}
.active {
  transform: translateX(0);
=======
.navbar {
    background-color: white;
    height: 100px;
    width: auto;
    display: flex;
>>>>>>> c466662 (setup post component)
}